<!-- app/views/devise/registrations/new.html.erb -->
<div class="auth-form">
  <h3 class="auth-title">新規登録</h3>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="auth-form-group">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "auth-form-control" %>
    </div>

    <div class="auth-form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "auth-form-control" %>
    </div>

    <div class="auth-form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "auth-form-control" %>
    </div>

    <div class="auth-actions">
      <%= f.submit "新規登録", class: "auth-btn-submit" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
