<!-- app/views/homes/index.html.erb -->
<div class="container top-page">
  <header class="page-header">
    <h1 class="page-title">「嫌われる勇気」実践アプリ</h1>
    <p class="page-subtitle">〜クイズにこたえて課題の分離を練習するアプリです〜</p>
  </header>

  <main class="main-content">
    <section class="cta-section">
      <%= button_to "今すぐ試してみる", new_post_path, method: :get, class: "try-button" %>
    </section>

    <section class="user-section">
      <% if user_signed_in? %>
        <div class="user-name">
          Welcome, <%= current_user.nickname %>さん！
          <%= link_to "Passkeys設定はこちら", passkeys_path %>
        </div>
      <% else %>
        <div class="user-name">
          <%= link_to "ログイン", new_user_session_path %> してください
        </div>
      <% end %>
    </section>

    <section class="info-section">
      <h2>このアプリの対象者</h2>
      <p>① ベストセラー「嫌われる勇気」を実践したい人</p>
      <p>② 自分の内面を成長させたい人</p>
    </section>

    <section class="info-section">
      <h2>つかいかた</h2>
      <p>① ログインします</p>
      <p>② こころが動いたできごとと感情を記録します</p>
      <p>③ 記録したことについて別の視点から考える練習をします</p>
      <p>④ 応用編 記録したデータをAIに分析してもらいます</p>
    </section>

    <div class="image-group">
        <%= image_tag("phone-new1.png", class:"first-image") %>
    </div>

    <div class="image-group">
        <%= image_tag("phone-index1.png", class:"second-image") %>
    </div>

  </main>
</div>