<!-- app/views/devise/sessions/new.html.erb -->
<div class="auth-form" data-controller="passkey-authentication">
  <h3 class="auth-title">ログイン</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    
    <%#エラーメッセージ  %>
    <% if resource.errors.any? %>
      <div class="error-alert">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li class='error-message'><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% elsif flash[:alert] %>
      <div class="error-alert">
        <p class="error-message"><%= flash[:alert] %></p>
      </div>
    <% end %>
    <%#**************************************************** %>
    <div class="auth-form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "auth-form-control", data: { passkey_authentication_target: "email" } %>
    </div>

    <div class="auth-form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "auth-form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="auth-form-group auth-form-check">
        <%= f.check_box :remember_me, class: "auth-form-check-input" %>
        <%= f.label :remember_me, class: "auth-form-check-label" %>
      </div>
    <% end %>
    
    <%= hidden_field_tag :password_login, true %>
    
    <div class="auth-actions">
      <%= f.submit "パスワードでログイン", class: "auth-btn-submit" %>
      <%= button_tag "パスキーでログイン", type: "button", class: "auth-btn-submit", data: { action: "click->passkey-authentication#authenticate" } %>
    </div>
  <% end %>
  <%= link_to "新規登録はこちら", new_user_registration_path, class: "post" %>
</div>
