<!-- app/views/devise/sessions/new.html.erb -->
<div class="auth-form">
  <h3 class="auth-title">ログイン</h3>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>  
    
    <div class="auth-form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "auth-form-control" %>
    </div>

    <div class="auth-form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "auth-form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="auth-form-group auth-form-check">
        <%= f.check_box :remember_me, class: "auth-form-check-input" %>
        <%= f.label :remember_me, class: "auth-form-check-label" %>
      </div>
    <% end %>

    <div class="auth-actions">
      <%= f.submit "ログイン", class: "auth-btn-submit" %>
    </div>
  <% end %>
   <%= link_to "新規登録はこちら", new_user_registration_path, class: "post" %>
</div>
