<!-- app/views/posts/index.html.erb -->
<div class="posts-index">
  <div class="page-title">投稿一覧</div>
  <div class="button-group">
    <%= link_to "CSV出力", posts_path(format: :csv), class: "btn btn-secondary" %>
  </div>

  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post__item">
          <p class="title">投稿日時:</p>
              <p class="content"><%= post.created_at.strftime('%Y/%m/%d. %H:%M') %></p>
        </div>
        
        <div class="post__item">
          <p class="title">できごと:</p>
          <p class="content"><%= post.situation %></p>
        </div>

         <div class="post__item">
          <p class="title">考え:</p>
          <p class="content"><%= post.thoughts %></p>
        </div>

        <div class="post__item">
          <p class="title">感情:</p>
          <p class="content"><%= post.emotions.join(', ') %></p>
        </div>

        <div class="post__item">
          <div class="post__item">
          <p class="title">自分の課題:</p>
          <p class="content"><%= post.self_task %></p>
        </div>

        <div class="post__item">
          <p class="title">他者の課題:</p>
          <p class="content"><%= post.others_task %></p>
        </div>

        <div class="post__item">
          <p class="title">肯定する証拠:</p>
          <p class="content"><%= post.supporting_evidence %></p>
        </div>

        <div class="post__item">
          <p class="title">反する証拠:</p>
          <p class="content"><%= post.contrary_evidence %></p>
        </div>

         <div class="post__item">
          <p class="title">他の考え方:</p>
          <p class="content"><%= post.alternative_thinking %></p>
        </div>

        <div class="post__item">
          <p class="title">記入後の心境:</p>
          <p class="content"><%= post.mood_after %></p>
        </div>  
      </div>
    <% end %>

    
    <!-- ページネーションは投稿ループの外に記載する -->
    <div class="pagination-wrapper">
      <nav class="pagination">
        <%= paginate @posts %>
      </nav>
    </div>
  <% else %>
    <p>投稿はありません</p>
  <% end %>
</div>
