<!-- app/views/posts/index.html.erb -->
<div class="posts-index">
  <div class="page-title">投稿一覧</div>
  <div class="button-group">
    <%= link_to "CSV出力", posts_path(format: :csv), class: "btn btn-secondary" %>
  </div>

  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post__item">
          <p class="title"><strong>投稿日時:</strong></p>
              <p class="content"><%= post.created_at.strftime('%Y/%m/%d. %H:%M') %></p>
        </div>
        
        <div class="post__item">
          <p class="title"><strong>出来事:</strong></p>
          <p class="content"><%= post.event %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>感情:</strong></p>
          <p class="content"><%= post.emotions %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>課題の分離:</strong></p>
          <p class="content"><%= post.self_task %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>根拠:</strong></p>
          <p class="content"><%= post.other_task %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>別の考え方:</strong></p>
          <p class="content"><%= post.note %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>記入後の心境:</strong></p>
          <p class="content"><%= post.mood_after %></p>
        </div>  
      </div>
    <% end %>

    
    <!-- ページネーションは投稿ループの外に記載する -->
    <div class="pagination">
      <%= paginate @posts %>
    </div>
  <% else %>
    <p>投稿はありません</p>
  <% end %>
</div>
