<!-- app/views/posts/index.html.erb -->
<div class="posts-index">
  <div class="page-title">投稿一覧</div>
  <div class="button-group">
    <%= link_to "CSV出力", posts_path(format: :csv), class: "btn btn-secondary" %>
  </div>

  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="post">
        <div class="post__item">
          <p class="title"><strong>投稿日時:</strong></p>
              <p class="content"><%= post.created_at.strftime('%Y/%m/%d. %H:%M') %></p>
        </div>
        
        <div class="post__item">
          <p class="title"><strong>できごと:</strong></p>
          <p class="content"><%= post.situation %></p>
        </div>

         <div class="post__item">
          <p class="title"><strong>考え:</strong></p>
          <p class="content"><%= post.thoughts %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>感情:</strong></p>
          <p class="content"><%= post.emotions.join(', ') %></p>
        </div>

        <div class="post__item">
          <div class="post__item">
          <p class="title"><strong>自分の課題:</strong></p>
          <p class="content"><%= post.self_task %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>他者の課題:</strong></p>
          <p class="content"><%= post.others_task %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>肯定する証拠:</strong></p>
          <p class="content"><%= post.supporting_evidence %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>反する証拠:</strong></p>
          <p class="content"><%= post.contrary_evidence %></p>
        </div>

         <div class="post__item">
          <p class="title"><strong>他の考え方:</strong></p>
          <p class="content"><%= post.alternative_thinking %></p>
        </div>

        <div class="post__item">
          <p class="title"><strong>記入後の心境:</strong></p>
          <p class="content"><%= post.mood_after %></p>
        </div>  
      </div>
    <% end %>

    
    <!-- ページネーションは投稿ループの外に記載する -->
    <div class="pagination-wrapper">
      <nav class="pagination">
        <%= paginate @posts %>
      </nav>
    </div>
  <% else %>
    <p>投稿はありません</p>
  <% end %>
</div>
