<!DOCTYPE html>
<html>
  <head>
    <title>Oselfref</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <% if controller.controller_name == 'sessions' || controller.controller_name == 'registrations' %>
      <%= stylesheet_link_tag "devise", "data-turbo-track": "reload" %>
    <% end %>
    <%# if とその次の行は、devise専用CSSの読み込みを設定している %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Self Reflection</a></h1>
        <div class="user_nav grid-6">
          <a class="post" href="/posts/new">新規投稿</a>
          <a class="post" href="/posts">投稿一覧</a>
          <a class="logout" href="/">ログアウト</a>
        </div>
      </div>
    </header>
    <div class="body__container">
      <%= yield %>
    </div>
     <footer class="footer">
      <p>
        Copyright SymTr 2024.
      </p>
    </footer>
  </body>
</html>
